* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    background: slategray;
}

/*-----"THE CODE REVIEW"-----*/
h2 {
    text-align: center;
    background: rgba(6, 12, 31, 0.815);
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%; 
    margin-top: 0px;
    text-transform: uppercase;
}


/*-----"Signup for our newsletter"-----*/
h1 {
    margin-top: 5px;   
    text-align: center;    
    color: rgba(6, 12, 31, 0.815);
    letter-spacing: -2px;
}


/*-----"Get the latest news..."-----*/
.h3 {
    width:90%;   
    display: flex;
    text-align: center;
    justify-content: center;
    color: rgba(6, 12, 31, 0.815);
    font-weight: 300;
    padding: 0px 15px 5px;
    margin-top: -10px;  
    padding-bottom: 20px;
    margin-bottom: 2px;
    letter-spacing: 0px;
    border-bottom:  solid 4px black;
}


/*-----"Contact Information"-----*/
.primary legend {    
    margin-bottom: 15px;
    width: 100%;
    padding-top: 30px;
    font-weight: bold;
    font-size: 1.7em;
    letter-spacing: -1px;
    color: rgba(6, 12, 31, 0.815);
}


/*-----"Newsletter"-----*/
.secondary legend {
    padding-top: 50px;    
    width: 100%;
    font-weight: bold;
    font-size: 1.7em;
    letter-spacing: -1px;
    color: rgba(6, 12, 31, 0.815);
}


/*-----Removed Unwantedborder over both fieldsets-----*/
fieldset { 
    border: none;  
}


/*-----Document Format-----*/
form {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
}

.container {
    width: 90%;  
    margin-top: 2px;
    border-top: solid 2px black;
}

.container-2 {
    width: 90%;    
    border-top: solid 2px black;  
    display: flex;
    text-align: start;
    justify-content: center; 
}      

.primary {
    width: 100%;
}

.secondary {
    width:100%;
} 


::placeholder {
    font-style: italic;
    text-align: right;
    opacity: 0.5;
}

textarea::placeholder {
    font-style: italic;
    text-align: center;
    opacity: 0.5;
}


/*-----INPUT SECTIONS------------ */
textarea[id="other"] {
    width: 95%;
    border-radius: 5px;    
    color: black;
    background: #e8eeefd3;
    background-color: #e8eeefd3;  
    padding-top: 25px;
    margin-top: 15px; 
    margin-bottom: 17px;  
    background: #e8eeefd3;
    font-size: 16px;
    height: auto;
    padding: 30px;     
    box-shadow:none;
    border-color:transparent;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
textarea:focus,
select:focus {
    border: 1px solid rgb(19, 19, 112);
    outline: none; 
    transition-property: all, -moz-specific, sliding;    
}

input[type="text"],
input[type="email"],
input[type="number"],
textarea,
select {
    transition-property: background;
    transition-duration: 1s;
    transition-timing-function: linear;
}

input[type="text"]:hover,
input[type="email"]:hover,
input[type="number"]:hover,
textarea:hover,
select:hover {
    background: lightskyblue;
} 

input[id="zip"] {
    background: #e8eeefd3;
    font-size: 16px;
    height: auto;    
    padding: 15px;
    color: black;
    margin-bottom: 30px;
    border-radius: 5px;
    width: 30%;
    padding-right: 10pc;
    box-shadow:none;
    border-color:transparent;   
}

input[type="text"],
input[type="email"],
input[type="number"],
select {    
    display: flex;    
    background: #e8eeefd3;    
    background-color: #e8eeefd3;
    font-size: 16px;
    height: auto;
    padding: 15px;
    color: black;    
    margin-bottom: 17px;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow:none;
    border-color:transparent;       
}

input[type="text"],
input[type="email"],
input[id="phone"] {
    width: 100%;    
}

select[id="state"] {
    width: 100%;
}


/*-----CHECKBOX AND RADIO BUTTONS------------ */
input[type="checkbox"]:checked + label {
    font-weight: bold;
}

input[type="radio"]:checked + label {
    font-weight: bold;    
}

input[type="checkbox"],
input[type="radio"] {
    margin-right: 10px;    
}

label {    
    color: rgba(6, 12, 31, 0.815);
}

.checkbox,
.radio {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 10px;    
}

 .checkbox-label,
 .radio-label,
 .textarea-label {
    margin-top: 20px;
    margin-bottom: 10px;    
}


/*-----SUBMIT BUTTON------------ */
button[type="submit"] {
    font-size: 1.5em;
    padding: 20px 20px;
    cursor: pointer;
    background-color: #52bab3;
    color: white;
    width: 95%;
    border-radius: 5px;
    border: none;
    margin-top: 10px; 
    margin-bottom: 20px; 
    outline: none;  
}


/* ---------COPYRIGHT---------- */
h5 {
    margin-top: 10px;
    margin-bottom: 200px;
    text-align: center;
    color: gray;
    font-style: italic;
    opacity: 0.6;
    font-size: 1em;
}
/* ---------COPYRIGHT---------- */


@media (min-width: 768px) {

form {
display: flex;
flex-direction: column; 
align-items: center;
justify-content: center;
}

label[for="name"],
label[for="mail"],
label[for="phone"],
label[for="address"],
label[for="city"],
label[for="state"],
label[for="zip"] {
    margin-top: 30px;
}

.label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.label label,
.label-zip label {
    flex-basis: 25%;
}

.label input,
.label select {
    flex-basis: 75%;
}
.label-zip {
    display: flex;    
}

.h3 {
    width:50%;
    display:flex;
    justify-content: center;
    align-items: center; 
}

.container,
.container-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    border-top: solid 2px black;
}  

.primary {
    width: 100%;
}

textarea[id="other"] {
    width: 100%;         
}

button[type="submit"] {    
    width: 100%;
}
    
fieldset {
width: 50%;
}
}


