{% extends "base.html" %}

{% block content %}
<h1 style="text-align: center;">Blogz Community</h1>
    




    <h1>All Blog Posts</h1>



    <ul style=" list-style-type: none;">
        {% for blog in blog_posts %}       
        <li style="font-weight: bold;"><a href="/blog?id={{ user.id }}">{{ blog.title }}</a> 
        <li>{{ blog.entry }}</li>
        <li style="font-weight: bold;"><a href="/users?id={{ user.id }}">Written by: {{ blog.owner_id }}</a> 
        <hr />        
        {% endfor %}   
    </ul>




{% endblock %}